*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
input {
    height: 30px;
    margin: 5px 0;
}

.inputAd,
.inputID,
.inputPn,
.inputPw,
.inputPvn,
.inputName {
margin: 10px 0;
}

.inputPn input{
  width:80px;
}

.btn{
  height:33px;
  margin:5px 0;
  line-height:30px;
  padding:0px 10px;
}

.right_password{
  color:green
}

.wrong_password{
  color:red
}